@use '../../styles/utils/mixins';

.Tag {
  width: mixins.clampCalculator(40px, 64px, 1000px);
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}