.LineChart {
  border-radius: 5px;
  height: 263px;
  position: relative;
  overflow: hidden;

  & path {
    pointer-events: none;
  }

  & svg {
    background-color: #FF0000;
    pointer-events: fill;
  }

  & .legend {
    position: absolute;
    top: 30px;
    left: 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    opacity: 0.5;
    max-width: 150px;
    pointer-events: none;
  }
}

.lineChartAxis {
  & path {
    stroke: none;
  }

  & text {
    fill: #fff;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
    pointer-events: none;

  }
}

.delimiter-rect {
  opacity: 0;
  fill: black;
  width: 100vw;
}

.tooltip {
  background-color: #fff;
  position: absolute;
  padding: 7px;
  font-size: 8px;
  font-weight: 500;
  line-height: 0;
  text-align: center;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

}

.point-circle {
  fill: #fff;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 10px;
  opacity: 0;
}