.LineChart {
  border-radius: 5px;
  height: 263px;
  position: relative;
  overflow: hidden;

  & svg {
    background-color: #FF0000;
  }

  & .legend {
    position: absolute;
    top: 30px;
    left: 35px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    opacity: 0.5;
    max-width: 150px;
  }
}

.lineChartAxis {
  & path {
    stroke: none;
  }

  & text {
    fill: #fff;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
  }
}