@function clampCalculator($min-size, $max-size, $min-screen-width: 375px, $max-screen-width:1440px) {
  $min-size: $min-size / 16px * 1rem;
  $max-size: $max-size / 16px * 1rem;
  $min-screen-width: $min-screen-width / 16px * 1rem;
  $max-screen-width: $max-screen-width / 16px * 1rem;
  $slope: ($max-size - $min-size) / ($max-screen-width - $min-screen-width);
  $y-axis-intersection: -1 * $min-screen-width * $slope + $min-size;
  $return-value: clamp(#{$min-size}, #{$y-axis-intersection} + #{$slope} * 100vw, #{$max-size});
  @return $return-value;
}

$screen-sizes: (
        mobile: 375px,
        tablet: 768px,
        small-desktop: 1000px,
        desktop: 1250px,
        big-size: 1440px,
);

@mixin media($screen-type: 768px) {
  @media screen and (max-width: map-get($screen-sizes, $screen-type)) {
    @content;
  }
}

@mixin fadeIn($duration: 0.3s, $delay: 0s, $ease: ease-in-out) {
  opacity: 0;
  animation: fadeIn $duration $ease $delay forwards;
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}