header {
  background-color: #020203;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
  padding: 18px 28px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  & .logo-container {
    height: 61px;
    width: 178px;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  & nav {
    width: 100%;
    padding-right: 58px;

    & ul {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 18%;
      justify-content: flex-end;

      & a {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
      }
    }
  }
}