@use '../../../styles/utils/mixins';

.RadarChart {
  position: relative;
  width: 100%;
  @include mixins.fadeIn();

  & svg {
    border-radius: 5px;
    background-color: #282D30;
  }
}

/** Created by carlos on 16/12/2022 */